<svelte:window on:online="set({ online: true })" on:offline="set({ online: false })" />

<nav>
	<ul>
		<li><a class='{path === "/" ? "selected" : ""}' href=".">accueil</a></li>
		<li><a class='{path === "/about" ? "selected" : ""}' href="about">à propos</a></li>
		<li><a rel="prefetch" class='{path === "/eli/code" ? "selected" : ""}' href="eli/code">codes</a></li>
	</ul>
	{#if online !== null}
	<ul class="right">
		<li><span title='{online ? "En ligne" : "Hors ligne"}'>{#if online}✓{:else}✗{/if}</span></li>
	</ul>
	{/if}
</nav>

<style>
	nav {
		border-bottom: 1px solid rgba(170,30,30,0.1);
		font-weight: 300;
		padding: 0 1em;
	}

	ul {
		margin: 0;
		padding: 0;
		display: inline-block;
	}

	ul.right {
		float: right;
	}

	/* clearfix */
	ul::after {
		content: '';
		display: block;
		clear: both;
	}

	li {
		display: block;
		float: left;
	}

	.selected {
		position: relative;
		display: inline-block;
	}

	.selected::after {
		position: absolute;
		content: '';
		width: calc(100% - 1em);
		height: 2px;
		background-color: rgb(170,30,30);
		display: block;
		bottom: -1px;
	}

	a, span {
		text-decoration: none;
		padding: 1em 0.5em;
		display: block;
	}
</style>

<script>
	export default {
		data() {
			return {
				online: null,
			}
		},

		oncreate() {
			if( navigator && typeof navigator.onLine === "boolean" ) {
				this.set({ online: navigator && navigator.onLine })
			}
		},
	};
</script>
